html {
    /* J'ai choisi volontairement de mettre ces éléments dans html {} afin qu'ils soient appliqués partout sur la page */
    background-color: #B0BEC5;
    font-family: "Open Sans";
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    /* La mise en forme du titre de niveau 1 */
    text-align: center;
}

h2 {
    /* La mise en forme du titre de niveau 2 */
    text-align: center;
}

header {
    /* La mise en forme du haut de page */
    background-color: #ECEFF1;
    color: black;
    padding: 6px;
    border-radius: 5px;
    transition: 0.2s;
    margin-left: 15%;
    margin-right: 15%;
}

header:hover {
    /* La mise en forme du haut de page lorsque la souris passe dessus */
    box-shadow: 0px 11px 10px 0px rgba(119, 119, 119, 0.4);
    -moz-box-shadow: 0px 11px 10px 0px rgba(119, 119, 119, 0.4);
    -webkit-box-shadow: 0px 11px 10px 0px rgba(119, 119, 119, 0.4);
    transition: 0.2s;
}

@font-face {
    /* Police d'écriture alternative (product sans dans notre cas) */
    font-family: "Open Sans";
    src: url("/fonts/product-sans-regular.ttf") format("ttf");
}

img {
    /* La mise en forme des images du site */
    max-width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 0.2s;
    border-radius: 15px;
}

img:hover {
    /* La mise en forme des images du site losque la souris passera dessus */
    box-shadow: 0px 11px 10px 0px rgba(119, 119, 119, 0.4);
    -moz-box-shadow: 0px 11px 10px 0px rgba(119, 119, 119, 0.4);
    -webkit-box-shadow: 0px 11px 10px 0px rgba(119, 119, 119, 0.4);
    transition: 0.2s;
}

body {
    /* La mise du corps du site */
    background-color: #CFD8DC;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 0.2s;
    margin-bottom: 20px;
}

body:hover {
    /* La mise du corps du site lorsque la souris passe dessus */
    transition: 0.2s;
    box-shadow: 0px 11px 10px 0px rgba(119, 119, 119, 0.4);
    -moz-box-shadow: 0px 11px 10px 0px rgba(119, 119, 119, 0.4);
    -webkit-box-shadow: 0px 11px 10px 0px rgba(119, 119, 119, 0.4);
}